* {
  padding: 0px;
  margin: 0px;
}

.trybewarts-header-logo{
  padding-left: 50px;
}

h1 {
  color: white;
  padding-top: 5px;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  height: 50px;
  justify-content: space-between;
}

.trybewarts-login {
  display: flex;
  padding-right: 35px;
}

button, input {
  height: 30px;
  width: 120px;
  border-radius: 5px;
  margin-top: 10px;
  margin: 5px;
}

input {
  border-color: white;
  padding-left: 10px;
}
button {
  color: white;
  background-color: rgb(84, 40, 141);
  height: 33px;  
}

main {
  display: flex;
  
}

#evaluation-form {
  display: flex;
  width: 675px;
  flex-direction: column;
  flex-wrap: nowrap;
  margin-left: 150px;
  margin-top: 150px;
  
}

#trybewarts-forms-logo {
  height: 500px;
  float:right;
  padding-right: 150px;
  
}

#input-name{
  width: 300px;

}

#input-lastname {
  width: 300px;
}

#input-email {
  width: 300px;
  height: 40px;
  
}

#house {
  width: 280px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
}

.family {
  display: flex;
  flex-direction: column;
    
}

.check {
  display: flex;
  
}

.checklist {
  margin-top: 25px;
}

#label-content {
  margin-left: 35px;
  font-size: 22px;
}

.rate {
  padding-top: 35px;
  display: flex
}

.info {
  padding-top: 35px;
  display: flex;
}